<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela</title>
    <style>

    </style>
</head>

<body>
    <h1>Tabela</h1>
    <form action="/tabela" method="post">
        <label for="linhas">Linhas</label>
        <input type="number" name="linhas" id="linhas" min="1"><br>
        <label for="colunas">Colunas</label>
        <input type="number" name="colunas" id="colunas" min="1"><br>

        <input type="submit" value="Enviar">
    </form>
    <%if(typeof linhas !=="undefined" && typeof colunas !=="undefined" ){%>
        <table border="1px">
            <%let num=1;%>
                <%for(var i=1;i<=linhas;i++){%>
                    <tr>
                        <%for(var j=1;j<=colunas;j++){%>
                            <td>
                                <%=num%>
                                    <%num++;%>
                            </td>
                            <%}%>
                    </tr>
                    <%}%>
        </table>
        <%}%>
</body>

</html>