<%-include('cabecalho.ejs')%>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" name="nome" id="nome" placeholder="Digite seu nome.">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Digite seu email.">
        </div>
        <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" class="form-control" name="senha" id="senha">
            <div id="passwordHelp" class="form-text">
                Sua senha deve conter 6 caracteres incluindo números e letras.
              </div>
        </div>
        <div class="mb-3">
            <label for="foto" class="form-label">Foto do usuário</label>
            <input class="form-control" type="file" id="formFile">
        </div>
        <div class="mb-3">
            <label for="datanasc" class="form-label">Data de Nascimento</label>
            <input type="date" class="form-control" name="datanasc" id="datanasc">
        </div>

        <input type="submit" class="mb-3 btn btn-outline-primary" value="Enviar">
    </form>
<%-include('rodape.ejs')%>