<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela</title>
    <style>
        table,
        tr,
        td {
            border: 1px solid;
        }
    </style>
</head>

<body>
    <form action="/tabela" method="post">
        <label for="tabela">Tabela</label>
        <input type="number" name="linhas" id="linhas" min="1">
        <input type="number" name="colunas" id="colunas" min="1">

        <input type="submit" value="Enviar">
    </form>
    <%if(typeof colunas !=="undefined" ){%>
        <table>
            <%for(var i=1;i<=colunas;i++){%>
                <tr>
                    <%=i%>
                </tr>
                <%}%>
        </table>
        <%}%>
            <%if(typeof linhas !=="undefined" ){%>
                <table>
                    <%for(var i=1;i<=linhas;i++){%>
                        <tr>
                            <td>
                                <%=i%>
                            </td>
                        </tr>
                        <%}%>
                </table>
                <%}%>
</body>

</html>